/*
Theme Name: Comes&Bebes
Theme URI: https://injunior.com.br/
Author: [Nome do Grupo]
Description: Tema do restaurante Comes&Bebes
*/

* {
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}