body {
    font-family: 'Bellota Text', cursive;
    background-color: #E7FAFE;
}

main {
    padding: 0 3.5rem;
}

.listap_section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
}

.listap_whole_category_div {
    max-width: 1056px;
}

.listap_section1 h2 {
    color: #333;
    margin-bottom: 1rem;
    font-size: 32px;
}

.listap_whole_category_div > div {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.listap_section2 {
    display: flex;
    justify-content: center;
}

.filters_div {
    width: 1056px;
}

.filters_div h2 {
    color: #333;
    font-size: 32px;
}

.filters_div h3 {
    color: #333;
}

.searchfor_div {
    border-bottom: 3px solid purple;
    width: 38%;
    margin: 0.7rem 0;
}

.listap_search_div input {
    border: none;
    width: 100%;
    height: 40px;
    font-size: 22px;
    padding: 0 4px;
    background: transparent;
}

.listap_search_div input:focus {
    outline: none;
}

.whole_filters_div {
    display: flex;
    justify-content: space-between;
}

.orderby_div {
    display: flex;
    flex-direction: column;
    border-bottom: 3px solid purple;
    width: 38%;
}

.filter_price_div {
    width: 42%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.filter_price_form {
    display: flex;
    gap: 3rem;
}

.filter_price_form div {
    display: flex;
}

/* .filter_price_div label {
    vertical-align: bottom;
} */

.filter_price_div input {
    width: 100%;
    border: none;
    background-color: transparent;
    border-bottom: 3px solid purple;
    outline: none;
    padding: 0 0 2px 10px
    /* height: 40px; */
}

.woocommerce .woocommerce-ordering {
    margin: 0;
}

.orderby {
    border: none;
    width: 100%;
    height: 40px;
    outline: none;
    font-size: 22px;
    cursor: pointer;
    background: transparent;
}

.listap_section3 {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}

.listap_dishes {
    width: 1056px;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 2rem;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}


@media screen and (max-width: 847.5px) {
    .searchfor_div {
        width: 453px;
    }

    .whole_filters_div {
        flex-direction: column;
        gap: 1rem;
    }

    .orderby_div {
        width: 453px;
    }

    .filter_price_div {
        height: 54px;
        width: 90%;
    }
}

@media screen and (max-width: 626px) {
    .listap_whole_category_div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .listap_whole_category_div > div {
        gap: 1rem;
        justify-content: center;
        width: 270px
    }
    
    .category_div {
        gap: 1rem;
        max-width: 300px;
        justify-content: center;
    }

    .category {
        width: 120px;
        height: 110px;
    }

    .category img {
        width: 120px;
        height: 110px;
    }

    .category p {
        width: 120px;
        padding-left: 3px;
        font-size: 18px;
    }

    .wc_dish > img {
        height: 275px;
    }

    .searchfor_div {
        width: 90%;
    }

    .orderby_div {
        width: 90%;
    }
}

@media screen and (max-width: 440px) {
    .woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li img {
        width: 110px;
        height: 85px;
    }
}

@media screen and (max-width: 378px) {
    main {
        padding: 0 1rem;
    }

    .filter_price_form {
        gap: 1rem;
    }
}