.category {
    position: relative;
    display: flex;
}

.northern:hover {
    opacity: 0.9;
}

.vegan:hover {
    opacity: 0.9;
}

.pastas:hover {
    opacity: 0.9;
}

.japanese:hover {
    opacity: 0.9;
}

.category p {
    color: white;
    position: absolute;
    bottom: 0;
    font-size: 24px;
    font-weight: 700;
    width: 240px;
    height: 20%;
    display: flex;
    align-items: center;
    padding-left: 10px;
    background-image: linear-gradient(92.1deg, #6A066D 0%, rgba(142, 87, 143, 0.757243) 71.87%, rgba(119, 64, 121, 0.661458) 99.99%, rgba(196, 196, 196, 0) 100%);
}