main {
    background-color: #E7FAFE;
    display: flex;
    justify-content: center;
}

.woocommerce {
    background-color: #E7FAFE;
    font-family: 'Bellota Text', cursive;
    width: 80%;
    padding-bottom: 10rem;
}

.col2-set {
    display: flex;
    gap: 3rem;
}

/* ====================== COLUNA DA ESQUERDA ====================== */
.col-1 {
    max-width: 610px;
}

.col-1 h1 {
    margin-bottom: 2rem;
}

.col-1 h2 {
    font-size: 32px;
}

.woocommerce_billing_field {
    display: flex;
    flex-direction: column;
}

.woocommerce-billing-fields__field-wrapper {
    display: flex;
    flex-direction: column;
}

.form-row:not(.hidden) {
    border-bottom: 2px solid purple;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80px;

}

.woocommerce-input-wrapper > input {
    border: none;
    outline: none;
    padding: 0 8px;
    background-color: transparent;
}

.payment_div > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.payment_div h2 {
    margin: 2rem 0;
}

.payment_div input {
    border: none;
    background-color: transparent;
    outline: none;
    margin: 0 0 10px 8px;
}

.payment_options_div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.payment_options_div > p {
    font-size: 24px;
}

.payment_options_div > div {
    display: flex;
    justify-content: space-evenly;
}

.money_div, .card_div {
    background-color: white;
    width: 35%;
    height: 61px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    cursor: pointer;
}

.money_div:hover, .card_div:hover {
    background-color: rgb(211, 211, 211);
}

.money_div img {
    width: 25px;
    height: 22px !important;
}

.card_div img {
    width: 32px;
    height: 24px !important;
}

.chose_card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card_number_div {
    border-bottom: 2px solid purple;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80px;
}

.validity_cvv_div {
    display: flex;
    justify-content: space-between;
}

.validity_cvv_div div {
    border-bottom: 2px solid purple;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80px;
    width: 48%;
}



.card_number_div > p, .validity_div > p, .cvv_div > p {
    font-size: 24px;
}

.half_field {
    max-width: 48%;
}



/* ====================== LINHA DO MEIO ====================== */
.checkout_line {
    border: 1px solid black;
}


/* ====================== COLUNA DA DIREITA ====================== */
.col-2 {
    display: flex;
    flex-direction: column;
    /* width: 48%; */
    gap: 2.5rem;
}

.woocommerce-checkout-review-order {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.ch_whole_cart {
    display: flex;
    border: 1px solid rgba(126, 51, 128, 0.866308);;
}

.ch_whole_cart > a {
    height: 110px;
}

.attachment-woocommerce_thumbnail {
    width: 120px;
    height: 110px;
}

.ch_cart_info {
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 15px 20px;
    font-size: 18px;
}

.ch_cart_info a {
    color: black;
}

.ch_cart_info div {
    align-self: flex-end;
}

.cart-subtotal {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
}

.order-total {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
}

.ch_cart_line_top {
    border: 1px solid black;
    margin-top: 1rem;
}

.ch_cart_line_bottom {
    border: 1px solid black;
    margin-bottom: 8px;
}

.wp-element-button {
    width: 245px;
    height: 41px;
    align-self: center;
}


.hidden {
    display: none;
}


@media screen and (max-width: 885px) {
    .col2-set {
        flex-direction: column;
    }

    .col-1 {
        width: 100%;
    }

    .half_field {
        max-width: 80%;
    }

    

    /* DEBUGAR */
    .woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1 {
        width: 100%;
    }
}

@media screen and (max-width: 525px) {
    .woocommerce {
        width: 95%;
    }
    
    .money_div, .card_div {
        width: 125px;
        gap: 1rem;
    }

    .ch_whole_cart > a {
        width: 95px;
        height: 85px;
    }
    
    .attachment-woocommerce_thumbnail {
        width: 95px !important;
        height: 85px !important;
    }
}


/* DEBUGAR O CSS */
.woocommerce button.button {
    margin-top: 2rem;
}

.woocommerce img {
    max-width: 120px;
    height: 110px;
}