.content-comida{
    display: flex;
    gap: 4rem;
    background-color: #E7FAFE;
    
}

.sobre-produto{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #E7FAFE;
}

.sp{
    display: flex;
    gap: 4rem;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: #E7FAFE;
}

.title{
    font-family: 'Bellota Text';
    font-weight: 400;
    font-size: 32px;
    text-align: justify;
    color: #000000;
}

.description{
    display: flex;
    width: 556px;
    height: 92px;
    font-family: 'Bellota Text';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-align: justify;
    color: #000000;
}

.quantity{
    display: flex;
    justify-content: space-between;
    width: 120px;
    height: 30px;
}
.mais{
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 30px;
    height: 30px;
    font-family: 'Bellota Text';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    background-color: #E7FAFE;
    color: #000000;
    border: 1px solid #6A066D;
}

.quantidade{
    display: flex;
    border: 1px solid #6A066D;
    width: 60px;
    font-family: 'Bellota Text';
    font-style: normal;
    font-weight: 400;
    text-align: center;
    background-color: #E7FAFE;
}

.menos{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 30px;
    height: 30px;
    font-family: 'Bellota Text';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    background-color: #E7FAFE;
    color: #000000;
    border: 1px solid #6A066D;
}

select{
    background-color: #E7FAFE;
    display: flex;
    width: 190px;
    height: 23px;
    font-family: 'Bellota Text';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    width: 100%;
    
}

.preco{
    display: flex;
    width: 135px;
    height: 40px;
    font-family: 'Bellota Text';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    text-align: justify;
    color: #000000;
}

.sp_whole_category_div div{
    display: flex;
    gap:2rem;
}

.botao_opcao{
    display: flex;
    justify-content: space-between;
}

.preco_botao{
    display: flex;
    justify-content: space-between;
}

.porcao{
    border-bottom: 2px solid #6A066D;
}

#porcao-select{
    outline: none;
    border: none;
    width: 270px;
}

.mais-comidas{
    font-family: 'Bellota Text';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

.botao-adicionar-single-product{
    justify-content: center;
    align-items: center;
    width: 120px;
    background: rgba(126, 52, 129, 0.86279);
    font-family: 'Bellota Text';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}