.header {
    background-color: #7A247D;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    min-height: 77px;
}

.lp_search_div {
    /* background-color: #999; */
    width: 412px;
    height: 30px;
    border-bottom: 2px solid #F5C661;
    display: flex;
    align-items: center;
    margin-right: 12rem;
}

.lp_search_div button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.lp_search_div img {
    width: 19px;
    height: 19px;
    margin: 0 15px 0 8px;
}

.lp_search_div input {
    background-color: #7A247D;
    border: none;
    width: 365px;
    height: 25px;
    font-size: 20px;
    color: #F5C661;
}

.lp_search_div input:focus {
    outline: none;
}

.hidden {
    display: none;
}

.header > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.make_order_button {
    background-color: #F5C661;
    width: 182px;
    height: 41px;
    border: none;
}

.make_order_button:hover {
    background-color: #c49f4e;
}

.make_order_button > a {
    color: black;
    width: 182px;
    height: 41px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header > div > div {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header_cart {
    width: 48px;
    height: 42px;
}



/* =========================== CSS DO MINI-CART =========================== */
.comesbebes_mini_cart {
    background-color: #F5C661;
    width: 35%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 5;
    display: none;
    flex-direction: column;
    overflow-y: auto;
    padding: 1rem 1.5rem;
    font-family: 'Bellota Text', cursive;;
}

.comesbebes_mini_cart_appear {
    display: flex;
}

.mini_cart_line {
    border: 1px solid #6A066D;
}

.close_mini_cart {
    width: 32px;
    height: 32px;
    align-self: flex-end;
    margin: 1rem 2rem 0 0;
    cursor: pointer;
}

.comesbebes_mini_cart h1 {
    margin: 0.5rem 0;
    font-size: 32px;
    font-weight: 700;
}

.woocommerce-mini-cart {
    margin: 2rem 0 3rem 0;
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

.woocommerce-mini-cart-item {
    display: flex;
    width: auto;
}

.whole_mini_cart {
    display: flex;
    width: 100%;
}

.whole_mini_cart > a {
    height: 120px;
}

.whole_mini_cart img {
    width: 130px;
    height: 120px;
}

.mini_cart_info {
    background-color: #D7F6FD;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 15px;
    padding: 0 1.5rem;
    font-size: 18px;
}

.mini_cart_info a {
    color: black;
}

.mini_cart_info div {
    display: flex;
    justify-content: space-between;
}

.product-remove a {
    color: red;
}

.woocommerce-mini-cart__total {
    margin: 1rem 0;
    font-size: 18px;
}

.woocommerce-mini-cart__buttons {
    background-color: #7E3481DC;
    align-self: center;
    width: 245px;
    height: 41px;
    font-size: 24px;
    border: none;
    flex-shrink: 0;
}

.woocommerce-mini-cart__buttons a {
    color: white;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 245px;
    height: 41px
}

@media screen and (max-width: 1115px) {
    .lp_search_div {
        margin-right: 0;
    }

    .comesbebes_mini_cart {
        width: 45%;
    }
}

@media screen and (max-width: 930px) {
    .header {
        flex-direction: column;
        padding: 1rem 5px;
    }
}

@media screen and (max-width: 840px) {
    .comesbebes_mini_cart {
        width: 55%;
    }
}

@media screen and (max-width: 640px) {
    .comesbebes_mini_cart {
        width: 70%;
    }
}

@media screen and (max-width: 530px) {
    .comesbebes_mini_cart {
        width: 85%;
    }
}

@media screen and (max-width: 440px) {
    .header > div {
        width: 230px;
        flex-wrap: wrap;
        gap: 1rem 2rem;
    }

    .lp_search_div {
        width: 265px;
    }

    .lp_search_div input {
        width: 220px;
    }

    .comesbebes_mini_cart {
        width: 100%;
    }

    .whole_mini_cart {
        height: 85px;
    }

    .whole_mini_cart > a {
        height: 85px;
    }

    .whole_mini_cart img {
        width: 95px;
        height: 85px;
    }

    .mini_cart_info {
        padding: 0 0.5rem;
    }

    .mini_cart_quantity {
        justify-content: flex-end;
        gap: 0.5rem;
    }
}
    

/* DEBUGAR O CSS NAS PÁGINAS SINGLE-PRODUCT E ARCHIVE-PRODUCTS */
.woocommerce ul.cart_list, .woocommerce ul.product_list_widget {
    margin: 2rem 0 3rem 0;
}

.woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li img {
    float: none; 
    margin-left: 0;
    width: 130px;
    height: 120px;
    box-shadow: none;
}

.woocommerce a.button {
    font-size: 100%;
    margin: 0;
    line-height: normal;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    overflow: hidden;
    padding: 0;
    font-weight: 400;
    border-radius: 0;
    left: unset;
    color: white;
    background-color: #7E3481DC;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: none;
    box-shadow: none;
    text-shadow: none;
    height: 41px;
}


