main{
    background-color: #E7FAFE;
}

p{
    font-family: 'Bellota Text', cursive;
}

.welcome{
    max-width: 1054px;
    height: 120px;
    margin: 44px auto 22px auto;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: justify;
}

.formulario{
    max-width: 1060px;
    margin: 0 auto;
}

.dados{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80px;
    border-bottom: 2px solid #6A066D;
}

.nome{
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: stretch;
    width: 525px;
    height: 80px;
    border-bottom: 2px solid #6A066D;
}


.registro{
    display: block;
    margin: 20px auto;
    width: 289px;
    height: 41px;
    border: none;
    background: #7E3481;

    
    font-family: 'Bellota Text';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;

    cursor: pointer;
}

.info{
    border: none;
    background-color: #E7FAFE;
    font-family:'Bellota Text', cursive;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;

}

label{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
}