body{
    font-family: 'Bellota Text', cursive;
}
main{
    min-height: 100vh;
}
/* Estilo do histórico de pedidos */
.tabela{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.coluna{
    text-align: start;
    width: 200px;
}

.coluna-nome{
    font-family: 'Bellota Text';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

.celula{
    font-family: 'Bellota Text', cursive;
    width: 200px;
    height: 60px;
}

.comesbebes-button{
    border: 3px solid #6A066D;
    padding: 5px 40px;
    color: #6A066D;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    margin-right:5px ;
}
.paginacao{
    height: 50px;
}
.page-numbers{
    bottom: 80px;
    margin: 10px;
    font-family: 'Bellota Text';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;

    color: #000000;
    
}

.current{
    color: #6A066D;
    font-size: 18.5px ;
    font-weight:bold;
}

/* Estilo dos detalhes de pedido */


.descricao{
    margin-top: 40px;
    margin-left: 200px;
    
}

.pagina-detalhes{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-left: 200px;
}

.pedido-titulo{
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    margin-top: 50px;
}

.detalhes{
    display: flex;
    gap: 170px;
    margin-top: 35px;
}



.itens{
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    margin: 5px 0px;
}
.itens a{
    margin: 5px 0px;
}

.pedido-subtitulo{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

.valores{
    display: flex;
    gap: 350px;
    margin-top: 40px;
}

.metodo{
    margin: 5px 0px;
}

.valor p{
    margin-top: 20px;
}

.dados-entrega{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    max-width: 780px;
    margin: 60px 0px 200px 200px;
    gap: 10px;
}

