.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 60px;

    font-family: 'Bellota Text', cursive;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    list-style: none;
    background-color:#F5C661;
}

li a{
    color: #000000;
}