.lp_section1 {
    background-color: #7A247D;
    height: 291px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-family: 'Roboto', sans-serif;
}

.lp_section1 h1 {
    color: #F5C661;
    font-weight: 900;
    font-size: 48px;
}

.lp_section1 p {
    color: #FAFAFA;
    font-weight: 300;
    font-size: 26px;
}

.lp_section2 {
    background-color: #E7FAFE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.2rem;
    padding: 3.5rem;
    font-family: 'Bellota Text', cursive;
}

.lp_section2 h2 {
    color: #333333;
    font-size: 32px;
    font-weight: 400;
}

.lp_whole_category_div > h3 {
    margin-bottom: 1rem;
    font-weight: 700;
    font-size: 24px;
}

.category_div {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

/* .category {
    position: relative;
    display: flex;
}

.category p {
    color: white;
    position: absolute;
    bottom: 0;
    font-size: 24px;
    font-weight: 700;
    width: 240px;
    height: 20%;
    display: flex;
    align-items: center;
    padding-left: 10px;
    background-image: linear-gradient(92.1deg, #6A066D 0%, rgba(142, 87, 143, 0.757243) 71.87%, rgba(119, 64, 121, 0.661458) 99.99%, rgba(196, 196, 196, 0) 100%);
} */

.whole_dishes_of_the_day {
    max-width: 1056px;
    align-self: center;
}

.whole_dishes_of_the_day > h3 {
    font-weight: 700;
    font-size: 24px;
}

.whole_dishes_of_the_day > p {
    margin-bottom: 1rem;
    font-weight: 700;
    font-size: 24px;
}

.dishes_of_the_day {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

/* .wc_dish {
    position: relative;
}

.wc_dish > img {
    width: 240px;
    height: 375px;
    object-fit: cover;
}

.wc_dish_infos {
    color: white;
    background-image: linear-gradient(92.1deg, #6A066D 0%, rgba(142, 87, 143, 0.757243) 71.87%, rgba(119, 64, 121, 0.661458) 99.99%, rgba(196, 196, 196, 0) 100%);
    width: 240px;
    height: 28%;
    position: absolute;
    bottom: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 16px 6px 5px;
}

.wc_dish_infos > p {
    font-size: 18px;
}

.wc_dish_infos div {
    display: flex;
    justify-content: space-between;
}

.wc_dish_infos div p {
    font-size: 24px;
}

.wc_dish_infos a {
    background-color: #F5C661;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 37px;
}

.wc_dish_infos a img {
    width: 34px;
    height: 30px;
} */

.other_options_button {
    background-color: #F5C661;
    width: 235px;
    height: 41px;
    border: none;
}

.other_options_button:hover {
    background-color: #c49f4e;
}

.other_options_button a {
    font-family: 'Roboto', sans-serif;
    color: black;
    width: 235px;
    height: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
}

.lp_section3 {
    background-color: #7A247D;
    color: white;
    height: 576px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lp_section3 h2 {
    margin-bottom: 4.5rem;
    font-family: 'Bellota Text';
    font-weight: 400;
    font-size: 32px;
}

.lp_section3 > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

.map_div {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.infos_div {
    display: flex;
    align-items: center;
    width: 345px;
    gap: 10px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
}

.adress img {
    width: 20px;
    height: 19px;
}

.telephone img {
    width: 18px;
    height: 18px;
}

@media screen and (max-width: 1200px) {
    .lp_section3 > div {
        gap: 2rem;
    }
}



@media screen and (max-width: 995px) {
    .lp_section3 > div > img {
        display: none;
    }
}

@media screen and (max-width: 626px) {
    .lp_whole_category_div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .category_div {
        gap: 1rem;
        max-width: 300px;
        justify-content: center;
    }

    .category {
        width: 120px;
        height: 110px;
    }

    .category img {
        width: 120px;
        height: 110px;
    }

    .category p {
        width: 120px;
        padding-left: 3px;
        font-size: 18px;
    }

    .wc_dish > img {
        height: 275px;
    }
}

@media screen and (max-width: 440px) {
    .lp_section1 {
        height: 240px;
        padding: 1rem;
    }

    .lp_section1 h1 {
        font-size: 38px;
    }

    .lp_section1 p {
        font-size: 24px;
    }

    .lp_section2 {
        padding: 1rem;
    }

    .lp_section3 {
        padding: 1rem;
        height: 500px;
    }

    .lp_section h2 {
        margin-bottom: 2.5rem;
    }

    .map_div > iframe {
        width: 260px;
        height: 165px;
    }

    .infos_div {
        width: 260px;
    }
}