.wc_dish {
    position: relative;
}

.wc_dish > img {
    width: 240px;
    height: 375px;
    object-fit: cover;
}

.wc_dish_infos {
    color: white;
    background-image: linear-gradient(92.1deg, #6A066D 0%, rgba(142, 87, 143, 0.757243) 71.87%, rgba(119, 64, 121, 0.661458) 99.99%, rgba(196, 196, 196, 0) 100%);
    width: 240px;
    height: 28%;
    position: absolute;
    bottom: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 16px 6px 5px;
}

.wc_dish_infos > p {
    font-size: 18px;
}

.wc_dish_infos div {
    display: flex;
    justify-content: space-between;
}

.wc_dish_infos div p {
    font-size: 24px;
}

.wc_dish_infos a {
    background-color: #F5C661;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 37px;
}

.wc_dish_infos a:hover {
    background-color: #c49f4e;
}

.wc_dish_infos a img {
    width: 34px;
    height: 30px;
}