
.woocommerce-Addresses a{
    text-decoration: none;
    color: #09A7B1;
    text-decoration-line: underline;
    font-family: Bellota Text;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: justified;
    position: absolute;
    left: 70%;
 
}

.add-new-address a, .wc-address-book-address a, .add-new-address a:hover, .wc-address-book-address a:hover{
    display: flex;
    text-decoration: #09A7B1;
    color: #09A7B1;
    text-decoration-line: underline;
    font-family: Bellota Text;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: justified;  
    justify-content: space-around;
    padding: 0px;
    background-color: #FFFFFF;
    position: absolute;
    top:35%;
    left: 55%;
}


.all-address-container-enderecos{
    display: flex;
    justify-content:space-between;
    padding: 5px;
    width: 700px;
    height: 50px;
 
}

.all-address-name{
    display: inline-block;
    color: #6A066D;
    font-size: 24px;
    font-family: Bellota Text;

}

.all-address-cep{
    display: inline-block;
    color: #6A066D;
    font-size: 24px;
    font-family: Bellota Text;   
}

.all-address-endereco{
    display: inline-block;
    font-size: 24px;
    font-family: Bellota Text;   
}

/* EDIT ADRESS ////////////////////////////////////////////////////////
*/

#shipping_address_nickname_field, #shipping_country_field {
    display: none;
}

h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-align: justify;
    font-family: 'Bellota Text';
    color: #000000;
    padding-bottom: 3px;
}

.woocommerce-address-fields label {
    font-family: 'Bellota Text';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
}

.woocommerce-address-fields input {
    border: none;
    border-bottom: 2px solid #640568;
    padding: 2px;
    padding-left: 5px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    font-family: 'Bellota Text';
    color: #000000;
}
 
.woocommerce button.button{
    width:200px;
    height: 40px;
    text-align: center;
    background: #7E3480;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    font-family: 'Bellota Text';
    color: #FFFFFF;   
}

/* Page geral */

.woocommerce-MyAccount-content {
    align-self: center;
    padding-top: 2%;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 5%;
}

.address_page_description{
    margin-bottom: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
    color: #000000;
    font-family: 'Bellota Text';
}

.container-button{
    display: flex;
    justify-content: space-around;
    margin-top: 130px;
}